* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
}
body {
  height: 100vh;
  background-color: hsl(233, 47%, 7%);
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  height: 446px;
  width: 1080px;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
}
.imgBox {
  width: 540px;
  height: 446px;
  background: url("images/image-header-desktop.jpg") no-repeat center center;
  background-color: hsl(277, 64%, 61%);
  background-blend-mode: multiply;
}
.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 540px;
  height: 446px;
  background-color: hsl(244, 38%, 16%);
}
.head {
  display: flex;
  flex-direction: column;
  color: hsl(0, 0%, 100%);
}
.headTop {
  display: flex;
}
h1 {
  font-size: 30px;
}
h1:nth-child(1) {
  margin-right: 10px;
}
.highlight {
  color: hsl(277, 64%, 61%);
  margin-right: 10px;
}
.mid {
  color: hsla(0, 0%, 100%, 0.6);
  display: flex;
  flex-direction: column;
}
.mid span {
  margin: 3px 0px 3px 0px;
}
.bottom {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.bottom h2 {
  font-size: 20px;
  color: hsl(0, 0%, 100%);
  margin-bottom: 5px;
}
.bottom span {
  color: hsla(0, 0%, 100%, 0.6);
}
